<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.caromatias.apppisodigitallan"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
        <activity
            android:name="com.caromatias.apppisodigitallan.SplashScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.caromatias.apppisodigitallan.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.caromatias.apppisodigitallan.LaminaUnoActivity"
            android:label="@string/title_activity_lamina_uno" >
        </activity>
        <activity
            android:name="com.caromatias.apppisodigitallan.LaminaDosActivity"
            android:label="@string/title_activity_lamina_dos" >
        </activity>
        <activity
            android:name="com.caromatias.apppisodigitallan.LaminaTresActivity"
            android:label="@string/title_activity_lamina_tres" >
        </activity>
        <activity
            android:name="com.caromatias.apppisodigitallan.GameOverActivity"
            android:label="@string/title_activity_game_over" >
        </activity>
        <activity
            android:name="com.caromatias.apppisodigitallan.LaminaBienvenidaActivity"
            android:label="@string/title_activity_lamina_bienvenida" >
        </activity>
        <activity
            android:name="com.caromatias.apppisodigitallan.LaminaArgentinaActivity"
            android:label="@string/title_activity_lamina_argentina" >
        </activity>
        <activity
            android:name="com.caromatias.apppisodigitallan.LaminaBrasilActivity"
            android:label="@string/title_activity_lamina_brasil" >
        </activity>
    </application>

</manifest>
